.note {
    width: 250px;
    height: 220px;

    float: left;
    margin: 1px;
    position: absolute;
    background-color: transparent;
}
.noteTitle {
    width: 250px;
    height: 28px;
    background-color: rgb(231, 231, 231);
}

.colorBg {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    background-image:url('images/icon-color.png');
    width: 28px;
    height: 28px;

}
.save {
    display: block;
    float: left;
    font-size: 4px;
    /*padding: 4px;
    opacity: 1;*/
    
}
.penInput {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;

    display: block;
    float: left;
    font-size: 2px;

}

.clear {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    float: left;
    font-size: 2px;

}

.text_execute{
    border: 1px solid black;
}
.rotateNote {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    display: block;
    float: left;
    font-size: 2px;
    

}
.counter {
    float: right;
    color: #657786;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    user-select: none;
}
.noteContent {
    position: absolute;
    z-index: 100;
    white-space: pre-line;
    white-space: pre-wrap;
    width: 200px;
    height: 100%;
    overflow-y: scroll;
}

.addIcon {
    display: block;
    float: left;
    font-size: 2px;
    /*padding: 4px;*/
}
.delIcon {
    display: block;
    float: right;
    font-size: 2px;
    /*padding: 4px;*/
}
body > .note:nth-child(even) {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}
body > .note:nth-child(odd) {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}
body > .note:nth-child(3n) {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
}
body > .note:hover {
    -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 10;
    background-color: transparent;
}


select option[value='#EF9A9A']{

    
    background: #EF9A9A;

}

select option[value='#CE93D8']{
    
    background:#CE93D8;

}

select option[value='#81D4FA']{
    
    background: #81D4FA;

}

select option[value='#80CBC4']{
    
    background: #80CBC4;

}
select option[value='#C5E1A5']{

    
    background: #C5E1A5;

}

select option[value='#FFF59D']{
    
    background: #FFF59D;

}

select option[value='#FFCC80']{
    
    background: #FFCC80;

}

select option[value='#BCAAA4']{
    
    background: #BCAAA4;

}

select option[value='#F48FB1']{
    
    background: #F48FB1;

}

select option[value='#9FA8DA']{
    
    background: #9FA8DA;

}

.arrowDown{
    width: 100%;
    height: 100%;
    src: url(images/icon-color.png);
}
.dropDown{
    
    width: 10px;
    height: 10px;
    /* background-color: black;*/
    display: block;
    float: left;
    font-size: 1px;
    padding: 1px;
    opacity: 1;
    
}
