.note {
    width: 180px;
    height: 170px;
    background-color: rgb(168, 255, 197);
    box-shadow: 2px 5px 5px gray;
    float: left;
    margin: 5px;
    position: absolute;
}
.noteTitle {
    width: 180px;
    height: 28px;
    background-color: rgb(231, 231, 231);
}

.colorBg {
    /*background-image:url(images/icon-color.png);
    width: 28px;
    height: 28px;
    /* background-color: black;
    display: block;
    float: left;
    font-size: 4px;
    padding: 4px;
    opacity: 4;
    */
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    background-image:url('images/icon-color.png');
    width: 28px;
    height: 28px;

}
.save {
    display: block;
    float: left;
    font-size: 4px;
    /*padding: 4px;
    opacity: 1;*/
    
}


.noteContent {
    position: absolute;
    z-index: -1;

    width: 180px;
    height: 140px;
    padding: 5px 10px 5px 10px;

}

.addIcon {
    display: block;
    float: left;
    font-size: 2px;
    /*padding: 4px;*/
}
.delIcon {
    display: block;
    float: right;
    font-size: 2px;
    /*padding: 4px;*/
}
body > .note:nth-child(even) {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}
body > .note:nth-child(odd) {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}
body > .note:nth-child(3n) {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
}
body > .note:hover {
    -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 10;
    background-color: #6C6;
}

select option[value='#CCFFCC']{

    
    background: #CCFFCC;

}

select option[value='#FFCCCC']{
    
    background:#FFCCCC ;

}

select option[value='#99CCFF']{
    
    background: #99CCFF;

}

select option[value='#FFFFCC']{
    
    background: #FFFFCC;

}


.optionsItem{
    width: 28px;
    height: 28px;
}

.arrowDown{
    width: 100%;
    height: 100%;
    src: url(images/icon-color.png);
}
.dropDown{
    
    width: 28px;
    height: 28px;
    /* background-color: black;*/
    display: block;
    float: left;
    font-size: 4px;
    padding: 4px;
    opacity: 4;
    
}